.main-wrapper {

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;
}

.chart-wrapper {
  width: 100%;
  background: #fce0e3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}